.general{
    margin: 60px auto;
    border: 1px solid #e0ffff;
    background-color: #d8bfd8;
    width: calc(100% - 400px);
    border-radius: 20px;
    box-shadow: #696969 0px 1px 10px 5px;
}
.controls{
    text-align: center;
}
.controls input{
    outline: none;
    height: 30px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.controls button{
    outline: none;
    height: 30px;
    background-color: #696969;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.chat{
    overflow-y: hidden;
    height: 400px;
    max-height: 400px;
}