.header {
    width: auto;
    height: 50px;
    background-color: #1c1c1c;
}

.logo {
    font-size: xx-large;
    color: white;
    position: absolute;
    top: 5px;
    left: 10px;
    text-decoration: none;
    width: 200px;
}

.items {
    float: right;
    display: flex;
    column-gap: 30px;
    list-style: none;
}

.items a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

.login {
    margin-right: 60px;
    background-color: salmon;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    margin-top: 10px;
}

.login:hover {
    background-color: darksalmon;
}