.learn-line{
    display: inline-block;
    text-align: center;
    width: 100%;
}
.learn-container{
    width: 900px;
    height: 500px;
    margin-left: 50px;
    background-color: #1c1c1c;
    border-radius: 10px;
    display: inline-block;
}
.icon{
    text-align: left;
    padding: 10px;
}
.icon img{
    width: 100px;
}

@keyframes react {
    
}